.App {
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 50px;
}
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  text-align: left;
  grid-gap: 20px;
}
h1{
  color: orange;
  font-size: 3em;
}
h1 span.fa {
  color: white;
  transform: rotate(30deg);
}
h3{
  color: white;
}
.login-container{
  width: 50%;
  margin: 50px 25%;
}
a{
  color: aliceblue;
}
.company_item{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0px 5px;
}
.company_item span {
  font-size: 1.2em;
  margin: 16px 5px;
}
.right-container{
  display: grid;
  grid-auto-columns: 6cm;
  margin: 5px 25%;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  
}
.btn-container span {
  font-size: 1.2em;
  margin: 16px 10px;
}
